.body{
 min-height: 100vh;
}

.Nav{
 position: fixed;
 top: 0;
 height: 3.5rem;
 width: 100vw;
 padding: 0;
 margin: 0 0 0 -.5rem;
 z-index: 11;
 background-color: blue;
}

.Nav li{
 list-style-type: none;
 float: right;
 margin: 1rem 1.5rem 0 0;
 color: white;
}

.main{
 margin: 3.6rem 0 0 5vw;
 width: 50vw;
}

.sideBar{
position: fixed;
right: 0;
top: 0;
margin: 5rem 2rem 0 0;
height: 90vh;
padding: .5rem;
background-color: rgba(255, 0, 0, 0.186);
}


/* -------------------------------------------------------------------------- */
@media(max-width:48em){
 .Nav li{
  margin: 1rem 7px 0 0;
 }

.main{
 margin: 3.6rem 0 0 0;
 width: 100%;
}

.sideBar{
position: relative;
right: 0;
background:none;
}

}